 <div class="pcoded-content" [@routerTransition]>
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="page-header-title">
                                            <h4 class="m-b-10">Vehicles</h4>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a [routerLink]="['/dashboard']">
                                                    <i class="feather icon-home"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item" *ngIf="clientid>0">
                                                <a [routerLink]="['/vehicles','client',clientid]">Vehicles</a>
                                                
                                            </li>
                                              <li class="breadcrumb-item" *ngIf="clientid==0">
                                                <a [routerLink]="['/vehicles']">Vehicles</a>
                                                
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="javascript:void(0)">Vehicle Transaction Log</a>
                                            </li>
                                        </ul>
                                        
                                        
                                         <p style="margin-top: 50px;background: #fff;padding: 5px;border-radius: 4px;margin-bottom: 0;" *ngIf="ClientName">Client: <b> <a [routerLink]="['/vehicles','client',clientid]">{{ClientName}}</a></b>
                                    <br></p>
                                         <p style="margin-top: 50px;background: #fff;padding: 5px;border-radius: 4px;margin-bottom: 0;display:none">Vehicle Type: <b><a href="javascript:void(0)"></a></b><br></p>

                                         <p style="margin-top: 50px;background: #fff;padding: 5px;border-radius: 4px;margin-bottom: 0;display: none">Vehicle: <b> <a href="javascript:void(0)"></a></b><br></p>

                                    </div>
                                    <div class="col-md-6">
                                             <p style="margin-top: 105px;background: #fff;padding: 5px;border-radius: 4px;margin-bottom: 0;">Unit#: <b> {{vehicleUnit}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">

                                            <div class="alertbox">     
                                                <div *ngFor="let alert of alerts">
                                                        <alert [type]="alert.type" [dismissOnTimeout]="5000"><span [innerHtml]="alert.msg"></span></alert>
                                                </div>
                                            </div> 
                                             

                                            <!-- site Analytics card start -->
                                            <div class="col-lg-12 col-md-12">
                                                    <div class="card table-card latest-activity-card">
                                                        <div class="card-header with-border">
                                                            <h5 class="card-header-text">Vehicle::Transaction Log</h5>
                                                            <div class="input-group" style="width: 200px;float: right;margin: 0;">

                                                                <input type="text" class="form-control" placeholder="Search" title="" [(ngModel)]="search_value">
                                                                <span class="input-group-prepend" id="name" style="margin: 0;cursor:pointer" (click)="onFilter(search_value)" >
                                                                    <label class="input-group-text" style="background: white;color: #b2b2b2;"><i class="fa fa-search" style="cursor:pointer"></i></label>
                                                                </span> 
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="table-responsive">
                                                                <table class="table table-borderless table-xs fleetvims-table" id="clients_table">
                                                                    <thead>       
                                                                        <tr style="background: #eee;">
                                                                            <th>Transaction Date</th>
                                                                            <th>A/C/D</th>
                                                                            <th>Policy#</th>
                                                                            <th>Details</th>
                                                                            <th>Username</th>
                                                                            <th>View</th>
                                                                            <th>Certificate</th>
                                                                            
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                         <tr *ngFor="let transaction of transactions">

                                                                            <td>{{transaction.DateEntered*1000 | date:'MM-dd-yyyy, h:mm a'}}</td>
                                                                            <td>{{transaction.ACDType}}</td>
                                                                            <td>{{transaction.Policy}}</td>
                                                                            <td>{{transaction.Description}}</td>
                                                                            <td>{{transaction.CreatedByName}}</td>
                                                                            <td><a placement="top" tooltip="Transaction View" href="JavaScript:void(0)" (click)="openModalVehicleTransaction(transmodel,transaction.LogId)">
                                                                    <i style="margin-right:0" class="fa fa-certificate"></i></a></td>

                                                                            <td> <a placement="top" tooltip="Certificate of Insurance" href="JavaScript:void(0)" (click)="getVehicleTransactionCertificate(transaction.LogId)">
                                                                    <i style="margin-right:0" class="fa fa-certificate"></i>
                                                            </a></td>

                                                                           
                                                                     </tr>  

                                                                

                                                                        </tbody>
                                                                </table>
                                                            </div>

                                                             <div class="text-center">

                                                                <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"  [maxSize]="5"></pagination>

                                                            </div>

                                                        </div>
                                                           
                                                    </div>
                                                </div>

                                            
                                            
                                        

                                            
    
                                                
                                                
                                            <!-- site Analytics card end -->


                                        </div>
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        
                    </div>

        <ng-template #transmodel >

            <div class="modal-header">
                <h4 class="modal-title">View Transaction Log</h4>
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                            
            <div class="modal-body">
                  <!---->
                <div class="row">
                        <div class="col-lg-6 col-md-6">
                                <div class="card">
                                        <div class="card-header with-border">
                                            <h5 class="card-header-text">Old Vehicle Details</h5>  
                                        </div>
                                 
                                 <div class="card-block">
                                        <div class="form-group form-default" >
                                                                    <label class="float-label">Client </label>
                                                                    
                                                                  <span>{{OldVehicleTransaction.ClientName}} </span> 
                                                                    
                                                                   
                                        </div>
                                        <fieldset class="scheduler-border" [ngClass]="(changePolicy)?'yellow':''">
                                            <legend class="scheduler-border">Coverage Selection</legend>
                                                   <div class="row">
                                                        <div class="col-md-6">
                                                                <h4 class="sub-title">PD Policy</h4>
                                                                <span *ngFor="let Policy of this.oldcoveragePolicy[1]">{{Policy.Name}}</span>

                                                         </div> 
                                                         <div class="col-md-6">
                                                                <h4 class="sub-title">NT Policy</h4>
                                                                <span *ngFor="let Policy of this.oldcoveragePolicy[2]">{{Policy.Name}}</span>
                                                                
                                                         </div>   
                                                   </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                <h4 class="sub-title">OA Policy</h4>
                                                                 <span *ngFor="let Policy of this.oldcoveragePolicy[3]">{{Policy.Name}}</span>

                                                         </div> 
                                                         <div class="col-md-6">
                                                                <h4 class="sub-title">PA Policy</h4>
                                                                <span *ngFor="let Policy of this.oldcoveragePolicy[4]">{{Policy.Name}}</span>

                                                                
                                                         </div>   
                                                   </div>
                                        </fieldset>
                                       <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Vehicle Information</legend> 
                                                           
                                                            <div class="form-group form-default" class="form-group form-default"  [ngClass]="(ChnageVehicleTransaction.Unit!=OldVehicleTransaction.Unit)?'yellow':''">
                                                                <label class="float-label">Unit # </label>
                                                                <span>{{OldVehicleTransaction.Unit}}</span>
                                                             </div>   


                                                             <div class="form-group form-default" class="form-group form-default"  [ngClass]="(ChnageVehicleTransaction.SerialNumber!=OldVehicleTransaction.SerialNumber)?'yellow':''">
                                                                 <label class="float-label">Vehicle ID #</label>
                                                                
                                                                    <span>{{OldVehicleTransaction.SerialNumber}}</span>
                                                                  
                                                                </div> 
                                                            
                                                            <div class="form-group form-default"  [ngClass]="(ChnageVehicleTransaction.ModelYear!=OldVehicleTransaction.ModelYear)?'yellow':''">
                                                                 <label class="float-label">Year </label>
                                                                 <span>{{OldVehicleTransaction.ModelYear}}</span>
                                                                
                                                            </div>

                                                             <div class="form-group form-default"  [ngClass]="(ChnageVehicleTransaction.MakeCompanyName!=OldVehicleTransaction.MakeCompanyName)?'yellow':''">
                                                                    <label class="float-label">Make </label>
                                                                    <span>{{OldVehicleTransaction.MakeCompanyName}}</span>
                                                                     
                                                            </div>

                                                            <div class="form-group form-default"  [ngClass]="(ChnageVehicleTransaction.Value!=OldVehicleTransaction.Value)?'yellow':''">
                                                                <label class="float-label">Value </label>
                                                                <span>{{OldVehicleTransaction.Value}}</span>
                                                                 
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.UnitTypeName!=OldVehicleTransaction.UnitTypeName)?'yellow':''">
                                                                <label class="float-label">Unit Type</label>
                                                                <span>{{OldVehicleTransaction.UnitTypeName}}</span>
                                                                 
                                                                
                                                                
                                                            </div>
                                                    </fieldset>

                                                   <fieldset class="scheduler-border">
                                                             <legend class="scheduler-border">Additional Information</legend>   

                                                            

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Driver!=OldVehicleTransaction.Driver)?'yellow':''">
                                                                <label class="float-label">Driver</label>
                                                                <span>{{OldVehicleTransaction.Driver}}</span>
                                                                
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Driver2!=OldVehicleTransaction.Driver2)?'yellow':''">
                                                                <label class="float-label">Driver2</label>
                                                                <span>{{OldVehicleTransaction.Driver2}}</span>
                                                                
                                                                
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.DriverTypeName!=OldVehicleTransaction.DriverTypeName)?'yellow':''">
                                                                 <label class="float-label">Driver Type</label>
                                                                
                                                                <span>{{OldVehicleTransaction.DriverTypeName}}</span>
                                                               
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Owner!=OldVehicleTransaction.Owner)?'yellow':''">
                                                                <label class="float-label">Owner</label>
                                                                <span>{{OldVehicleTransaction.Owner}}</span>
                                                               
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Lienholder3!=OldVehicleTransaction.Lienholder3)?'yellow':''">
                                                                 <label class="float-label">Lineholder</label>
                                                                <span>{{OldVehicleTransaction.Lienholder3}}</span>
                                                                    
                                                                   
                                                                    
                                                            </div>

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Lienholder3Name!=OldVehicleTransaction.Lienholder3Name)?'yellow':''">
                                                                 <label class="float-label">Lineholder 2</label>
                                                                
                                                                <span>{{OldVehicleTransaction.Lienholder3Name}}
                                                                </span>
                                                               
                                                            </div>
                                                            

                                                             

                                                            

                                                             <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.CertificateNotes!=OldVehicleTransaction.CertificateNotes)?'yellow':''">
                                                                     <label class="float-label">Certificate Notes</label>
                                                                   
                                                                    <span>{{OldVehicleTransaction.CertificateNotes}}
                                                                   </span>
                                                             </div> 
                                                    </fieldset>  
                                 </div> 
                                  
                         </div>    
                      </div> 
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                        <div class="card-header with-border">
                                            <h5 class="card-header-text">Change Vehicle Details </h5>  
                                        </div>
                                 
                                 <div class="card-block">
                                        <div class="form-group form-default" class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.ClientName!=OldVehicleTransaction.ClientName)?'yellow':''">
                                                                    <label class="float-label">Client </label>
                                                                    
                                                                  <span>{{ChnageVehicleTransaction.ClientName}} </span> 
                                                                    
                                                                   
                                        </div>
                                        <fieldset class="scheduler-border" [ngClass]="(changePolicy)?'yellow':''">
                                            <legend class="scheduler-border">Coverage Selection</legend>
                                                   <div class="row">
                                                        <div class="col-md-6">
                                                                <h4 class="sub-title">PD Policy</h4>
                                                                <span *ngFor="let Policy of this.changecoveragePolicy[1]">{{Policy.Name}}</span>

                                                         </div> 
                                                         <div class="col-md-6">
                                                                <h4 class="sub-title">NT Policy</h4>
                                                                <span *ngFor="let Policy of this.changecoveragePolicy[2]">{{Policy.Name}}</span>
                                                                
                                                         </div>   
                                                   </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                <h4 class="sub-title">OA Policy</h4>
                                                                 <span *ngFor="let Policy of this.changecoveragePolicy[3]">{{Policy.Name}}</span>

                                                         </div> 
                                                         <div class="col-md-6">
                                                                <h4 class="sub-title">PA Policy</h4>
                                                                <span *ngFor="let Policy of this.changecoveragePolicy[4]">{{Policy.Name}}</span>

                                                                
                                                         </div>   
                                                   </div>
                                        </fieldset>
                                       <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Vehicle Information</legend> 
                                                           
                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Unit!=OldVehicleTransaction.Unit)?'yellow':''">
                                                                <label class="float-label">Unit # </label>
                                                                <span>{{ChnageVehicleTransaction.Unit}}</span>
                                                             </div>   


                                                             <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.SerialNumber!=OldVehicleTransaction.SerialNumber)?'yellow':''">
                                                                 <label class="float-label">Vehicle ID #</label>
                                                                
                                                                   <span> {{ChnageVehicleTransaction.SerialNumber}}</span>
                                                                  
                                                                </div> 
                                                            
                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.ModelYear!=OldVehicleTransaction.ModelYear)?'yellow':''">
                                                                 <label class="float-label">Year </label>
                                                                 <span>{{ChnageVehicleTransaction.ModelYear}}</span>
                                                                
                                                            </div>

                                                             <div class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.MakeCompanyName!=OldVehicleTransaction.MakeCompanyName)?'yellow':''">
                                                                    <label class="float-label">Make </label>
                                                                    <span>{{ChnageVehicleTransaction.MakeCompanyName}}</span>
                                                                     
                                                            </div>

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Value!=OldVehicleTransaction.Value)?'yellow':''">
                                                                <label class="float-label">Value </label>
                                                                <span>{{ChnageVehicleTransaction.Value}}</span>
                                                                 
                                                            </div>

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.UnitType!=OldVehicleTransaction.UnitType)?'yellow':''">
                                                                <label class="float-label">Unit Type</label>
                                                                <span>{{ChnageVehicleTransaction.UnitTypeName}}</span>
                                                                 
                                                                
                                                                
                                                            </div>
                                                    </fieldset>

                                                   <fieldset class="scheduler-border">
                                                             <legend class="scheduler-border">Additional Information</legend>   

                                                            

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Driver!=OldVehicleTransaction.Driver)?'yellow':''">
                                                                <label class="float-label">Driver</label>
                                                                <span>{{ChnageVehicleTransaction.Driver}}</span>
                                                                
                                                            </div>

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Driver2!=OldVehicleTransaction.Driver2)?'yellow':''">
                                                                <label class="float-label">Driver2</label>
                                                                <span>{{ChnageVehicleTransaction.Driver2}}</span>
                                                                
                                                                
                                                            </div>

                                                            <div class="form-group form-default"  class="form-group form-default" class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.DriverTypeName!=OldVehicleTransaction.DriverTypeName)?'yellow':''">
                                                                 <label class="float-label">Driver Type</label>
                                                                
                                                                <span>{{ChnageVehicleTransaction.DriverTypeName}}</span>
                                                               
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Owner!=OldVehicleTransaction.Owner)?'yellow':''">
                                                                <label class="float-label">Owner</label>
                                                                <span>{{ChnageVehicleTransaction.Owner}}</span>
                                                               
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Lienholder3!=OldVehicleTransaction.Lienholder3)?'yellow':''">
                                                                 <label class="float-label">Lineholder</label>
                                                                <span>{{ChnageVehicleTransaction.Lienholder3}}</span>
                                                                    
                                                            </div>

                                                            <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.Lienholder3Name!=OldVehicleTransaction.Lienholder3Name)?'yellow':''">
                                                                 <label class="float-label">Lineholder 2</label>
                                                                
                                                                <span>{{ChnageVehicleTransaction.Lienholder3Name}}</span>
                                                                
                                                               
                                                            </div>
                                                            

                                                             

                                                            

                                                             <div class="form-group form-default" [ngClass]="(ChnageVehicleTransaction.CertificateNotes!=OldVehicleTransaction.CertificateNotes)?'yellow':''">
                                                                     <label class="float-label">Certificate Notes</label>
                                                                   
                                                                    <span>{{ChnageVehicleTransaction.CertificateNotes}}</span>
                                                                   
                                                             </div> 
                                                    </fieldset>  
                                 </div> 
                                  
                         </div>     
                      </div>                       
                </div>
            </div> 
            <div class="modal-footer">
              
                <button type="button" class="btn btn-default waves-effect " (click)="modalRef.hide()">Close</button>
                

            </div>
         
        </ng-template>            

             
                